<h2>Bookings:</h2>


<% @bookings.each do |booking| %>
        <%= link_to boat_path(booking.boat), class: 'text-decoration' do %>
        <div class="card-boat p-8">

          <% if booking.boat.photo.attached? %>
            <%= cl_image_tag booking.boat.photo.key %>
          <% end %>

          <div class="card-boat-infos mb-4">
            <ul class="card-content mb-8">
                <h3> <%= booking.boat.name %>⚓</h3>
                <p> <%= booking.boat.location %> </p>
                <div style="display: flex; justify-content: space-between;">
                  <div>
                    <p> Date <%= booking.starting_date %> - <%= booking.ending_date %> | Total Price: <%= booking.total_amount %>$</p>
                    <br>
                     <p><%= link_to "Cancel Booking",
                      booking_path(booking.id),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></p>
                  </div>
                </div>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
