<div class="container">
  <div class="card-trip">
    <img src="https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
    <div class="card-trip-infos">
      <div>
        <h2><span> 👋  </span> <%= @user.first_name %>  <%= @user.last_name %></h2>
        <br>
        <h2><span> 🌎 </span> <%= @user.country%></h2>
        <br>
        <h2><span> 📞 </span><%= @user.phone%></h2>
        <br>
        <h2><span> 📧 </span><%= @user.email %></h2><br>
        <br>
        <p>I love the sea! And this is my profile</p>
        <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
      </div>
      <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
      <div class="card-trip-user avatar-bordered">
        <% if @user.photo.attached? %>
          <%=
            cl_image_tag(@user.photo.key, transformation: [
              aspect_radio: 1,
              width: 100, height: 100, crop: :thumb, gravity: :face, zoom: 1, effect: :outline,effect: :shadow,radius: :max, x: 0, y:0
              ])
          %>
        <% end %>
      </div>
    </div>
  </div>
</div>
