<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/boats">
      <%# <img src="images/vector-boat-icon.jpg" /> %>

      <%= image_tag "new_logo3.jpg" %>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link font" style="color:#FFFFFF" href="/boats/new">Create a Boat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font" style="color:#FFFFFF" href="/boats">View all Boats </a>
          </li>
          <li class="nav-item dropdown">

          <% if user_signed_in? %>
            <%= image_tag "profile_ann.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "/profiles", class: "dropdown-item" %>
              <%= link_to "My Bookings", "/profiles/bookings", class: "dropdown-item" %>
              <%= link_to "My Boats", "/profiles/boats", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <div id="links" class="font">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
