<h1>YOUR BOATS :</h1>
  <div class="containerz">
    <div style="width: 50%;">
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat), class: 'text-decoration' do %>
        <div class="card-product p-8">
            <% if boat.photo.attached? %>
              <%= cl_image_tag boat.photo.key %>
            <% end %>
          <div class="card-trip-infos mb-4">
            <div>
              <ul class="mb-8">
                  <li class="boat-name">
                    <%= boat.name%>
                  </li>
                  <p> <%= boat.description %> </p>
              </ul>
              <div class="price">
                  <h2 class="price"><%= boat.price_per_day %>$</h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Map token (https://www.mapbox.com/account/access-tokens/) -->
  <div style="width: 50%;">
    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoidmFueWEtbSIsImEiOiJjbDBzc2d0a2owNGtwM2pscTA3NXhjY25sIn0.fJKAaVAg8E50C5umiz0Rdw'>
  </div>
</div>
