<div class="container">

<h1><strong><%= @boat.name %></strong> | location: <%= @boat.location %> | <%= @boat.price_per_day %> € per day</h1>
<img class="boat-image" src="https://source.unsplash.com/86wR5GZJZdQ" />

 <div class="container">
   <h2>capacity: <%= @boat.capacity %> people | size: <%= @boat.size %> meters | max. speed: <%= @boat.max_speed %> km/h</h2>
</div>
    <div class="container">
      <p><%= @boat.description %></p>
    </div>
</div>
